body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 30px;
  // font-family: 'Indie Flower', cursive;
  text-align: center;
}

hr {
  margin: 40px 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  margin: 3px;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  &.active {
    position: relative;
  }
}

.square:focus {
  outline: none;
}

.game {
  text-align: center;
}

.game-board {
  display: inline-block;
  margin-bottom: 70px;
}

.game-info {

  .list-group {
    width: 350px;
    margin: 0 auto;
  }
}

.list-group {
  .list-group-item {
    &:nth-child(2) {
      background: #eee;
    }
  }
}

.option-enter {
  opacity: 0;
}
.option-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.option-exit {
  opacity: 1;
}
.option-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}